{% extends "base.html" %}
{% block body %}

    <div class="container">
        <br><br>
        <div class="row"><h1 class="text-center text-white">MITIE AI Trainer</h1></div>
        <br><br><br />
        <div id="app">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default train">
                        <div class="panel-heading">
                            {% raw %}
                            <h2>Tag Entities</h2>
                            <p class="trained">Trained: {{index}} / {{input_data.length}}</p>
                            <div class="entity_choose">
                                <template v-for="(entity, index) in entities">
                                    <label>
                                    <input type="radio" name="entities" v-bind:value="entity" v-model="chosen_entity">
                                        {{entity}}
                                    </label>
                                </template>
                            </div>
                        </div>
                        <div class="panel-body" id="tokens">
                                <template v-for="(token, i) in current_entity">
                                    <span class="token" v-bind:index="i" v-bind:token="token" v-on:click="token_clicked">
                                        {{ token }}
                                    </span>
                                </template>
                            {% endraw %}
                        </div>
                        <div class="panel-body">
                            <button class="btn btn-primary" id="generate_code" v-on:click="next">
                                Next
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="panel panel-default display-code">
                        <div class="panel-heading"><h2>Exported Code</h2></div> <div class="panel-body">
                            <textarea id="output" v-model="output_pre" rows="20" readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                input_data: {{ input_data | safe }},
                entities: "{{ entities | safe }}".split(" "),
                current_entity: '',
                chosen_entity: this.entities,
                var_name: "{{ outputVar | safe }}",
                output_pre: '',
                index: 0,
            },
            mounted: function() {
                this.current_entity = this.input_data[this.index];
                //this.output_pre = "import sys\nsys.path.append('PATH_TO_MITIE')\n\nfrom mitie import *\n\n";
                this.output_pre += this.var_name + " = []\n\n";
                this.chosen_entity = this.entities[0];
            },
            methods: {
                token_clicked: function(e) {
                    if (e.target.hasAttribute('entity')) {
                        e.target.removeAttribute('entity');
                    } else {
                        e.target.setAttribute('entity', this.chosen_entity);
                    }
                },
                next: function(e) {
                    var that = this;
                    var code = "";
                    output = that.output_pre;

                    var entities = {}
                    $('.token').each(function (i, v) {
                        if ($(v).attr('entity') !== undefined) {
                            ent = $(v).attr('entity');
                            if (entities[ent] !== undefined) {
                                entities[ent].push(i);
                            } else {
                                entities[ent] = [i];
                            }
                            $(v).removeAttr('entity');
                        }
                    });

                    // loop through results and turn indexes to code
                    $.each(entities, function (entity, indexes) {
                        for (var i = 0, l = indexes.length; i < l; i++) {
                            var firstIndex = indexes[i];
                            var lastIndex = firstIndex + 1;
                            while (indexes[i + 1] == indexes[i] + 1) {
                                i++;
                            }
                            if (indexes[i] != firstIndex) {
                                // multiple tags in a row
                                lastIndex = indexes[i] + 1;
                            }

                            code += that.var_name + "[" + that.index + "]" + 
                                    ".add_entity(xrange(" + firstIndex + "," 
                                    + lastIndex + "), \"" + entity + "\")";
                            code += " # ";

                            for (var x = firstIndex; x < lastIndex; x++) {
                                c = document.querySelectorAll("[index='" + x + "']");
                                c = c[0].getAttribute('token');
                                console.log(c);
                                code += c + " ";
                            }

                            code += "\n";
                        }
                    });

                    code += "\n";
                    this.output_pre += code;
                    this.index++;
                    this.current_entity = this.input_data[this.index];
                    if (this.index === this.input_data.length) {
                        alert('Done training!');
                    }
                }
            }
        });
    </script>

{% endblock %}
