{% extends "base.html" %}
{% block body %}

    <div class="container">
        <br><br>
        <div class="row"><h1 class="text-center text-white">MITIE Job Description Parser</h1></div>
        <br><br><br />
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <form action="{{ url_for('parse_job_post') }}" method="POST">
                        <div class="col-md-8 col-md-push-2 text-center">
                            <div class="row">
                                <label for="input_data">Input Data</label>
                                <p>
                                    <small>Unstructured job description text</small>
                                </p>
                                <textarea name="input_data" id="input_data" class="form-control" rows="10"></textarea>
                            </div>
                            <br />
                            <input type="submit" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
